.mainChatWrap{
    display: flex;
    justify-content: space-around;
    gap: 2rem;
}

.sendMessWrap{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.listWrap{
    width: 20%;
    height: 100dvh;
    overflow-y: auto;
}

.chatsWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.messagesWrap{
    min-height: 50dvh;
    overflow-y: auto;
}