.homeWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    gap: 15rem;
}